## Part 1: Lists

#### 1)

In [16]:
p= ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
p

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

#### 2)

In [17]:
len(p)

8

#### 3)

In [18]:
p[0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

#### 4)

In [21]:
for planet in p:
    if planet.endswith('s'):
        print(planet)

Venus
Mars
Uranus

## Part 2: Functions

#### 1)

In [25]:
def convert_C_to_K(temperatureC):
    """ return kelvin to temperatureC """
    return (temperatureC +273.15)

In [26]:
def convert_K_to_C(temperatureK):
    """ return celcius to temperatureK """
    return (temperatureK -273.15)

#### 2)

In [1]:
def convert_C_or_K_to_F(temperature, temperatureC=False):
    """ A function to return a temperature in F """
    if temperatureC:
        temperatureF = (temperature * 9/5) +32
    else: 
        temperatureF = ((temperature - 273.15) *9/5) +32
    return temperatureF

#### 3)

In [49]:
convert_C_or_K_to_F(15, temperatureC=True)

59.0

In [52]:
convert_C_or_K_to_F (300, temperatureC=False)

80.33000000000004

#### 4)

In [22]:
def convert_F_to_C_or_K (temperature, temperatureC=False):
    """A function to return F temperature to C or K"""
    if temperatureC:
        temperatureFinal = ((temperature-32) *5/9) 
    else: 
        temperatureFinal = ((temperature -32) *5/9) +273.15
    return temperatureFinal

In [23]:
convert_F_to_C_or_K (32, temperatureC=True)

0.0

In [24]:
convert_F_to_C_or_K (32, temperatureC=False)

273.15

#### 5)

In [25]:
def convert_ftin_to_m (feet, inches):
    return (feet * 0.3048) + (inches * 0.0254)

In [26]:
convert_ftin_to_m (5, 5)

1.651

#### 6)

In [32]:
def convert_m_to_ftin (meter):
    inch = meter / 0.0254
    ftin = inch % 12
    feet = int (inch/12)
    return feet, ftin

In [33]:
convert_m_to_ftin (1.651)

(5, 5.0)

#### 7)

In [35]:
convert_m_to_ftin (2.67)

(8, 9.118110236220474)

In [36]:
convert_ftin_to_m (8, 9.118110236220474)

2.67

In [37]:
convert_m_to_ftin (17)

(55, 9.291338582677213)

In [39]:
convert_ftin_to_m (55, 9.291338582677213)

17.0

In [40]:
convert_m_to_ftin (100)

(328, 1.007874015748257)

In [41]:
convert_ftin_to_m (328, 1.007874015748257)

100.00000000000001